data/
logs/
data/tmp/
*.nc
*.parquet
*.csv
!data/meta/
!data/meta/*.csv
# extra ignores
nelaya-ai-site/.git/
nomads.ncep.noaa.gov:9090/
.venv/
# extra ignores
nelaya-ai-site/.git/
nomads.ncep.noaa.gov:9090/
.venv/
# extra ignores
nelaya-ai-site/.git/
nomads.ncep.noaa.gov:9090/
.venv/

# ignore env & caches
.env
__pycache__/
*.pyc
nelaya_ai_mobile/build/
